<div class='center jumbotron'>
  <h1>Welcome to myRecipeManager!</h1>
  <h3> This is Test container.</h3>
  <%= link_to'Sign up now!', "", class:"btn btn-lg btn-success"%> 
</div>

<div class='row'>
  <div class='col-lg-4'>
    <h3 class='midrow'>Browser recipe as Guest user!</h3>
     <p>Browse recipes as a guest user and sign up latter.</h4>
     <p class='center'><%= link_to 'Browse Recipes',recipes_path,class:"btn btn-warning btn-samll" %></p>
  </div>
  <div class='col-lg-4'>
    <h3 class='midrow'>Browser recipe as Guest user!</h3>
     <p>Browse recipes as a guest user and sign up latter.</h4>
     <p class='center'><%= link_to 'Browse Recipes',recipes_path,class:"btn btn-warning btn-samll" %></p>
  </div>
  <div class='col-lg-4'>
    <h3 class='midrow'>Browser recipe as Guest user!</h3>
     <p>Browse recipes as a guest user and sign up latter.</h4>
     <p class='center'><%= link_to 'Browse Recipes',recipes_path,class:"btn btn-warning btn-samll" %></p>
  </div>
</div>